/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-bleet-dim {
        --bg-opacity: 1;
        @apply bg-green-100;
    }

    .bleeter-scroll {
        scrollbar-color: theme('colors.scroll-bar') theme('colors.scroll-track');
    }

    .bleeter-body {
        @apply bg-bleeter-blue;
        @apply overflow-y-scroll;
        @apply bleeter-scroll;   
        background-image: url('/img/birds.png'), url('/img/clouds.png');
        background-repeat: repeat, repeat;
    }
}